.catalog {
  .catalog__topline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .catalog__sort {
      max-width: 250px;
      width: 100%;
    }
    .catalog__title {
      font-family: 'Montserrat';
      font-size: 24px;
      font-weight: 600;
    }
  }
  .catalog__list {
    margin-top: 24px;
  }
}
